:root {
    /* colors */
    --zk-color-white: #ffffff;
    --zk-color-black: #000000;

    --colors: (
      primary: #409eff, 
      success: #67c23a,
      warning:#e6a23c,  
      info:#909399, 
      danger:#f56c6c,
    );

    @each $type, $color in var(--colors){
      --zk-color-$(type):$(color);
      @for $i from 3 to 9 by 2 {
        --zk-color-$(type)-light-$(i): mix(#fff, $(color), .$(i));
      }
      --zk-color-$(type)-light-8: mix(#fff, $(color), .8);
      --zk-color-$(type)-dark-2: mix(#fff, $(color), .2);
    }

    --zk-bg-color: #ffffff;
    --zk-bg-color-page: #f2f3f5;
    --zk-bg-color-overlay: #ffffff;
    --zk-text-color-primary: #303133;
    --zk-text-color-regular: #606266;
    --zk-text-color-secondary: #909399;
    --zk-text-color-placeholder: #a8abb2;
    --zk-text-color-disabled: #c0c4cc;
    --zk-border-color: #dcdfe6;
    --zk-border-color-light: #e4e7ed;
    --zk-border-color-lighter: #ebeef5;
    --zk-border-color-extra-light: #f2f6fc;
    --zk-border-color-dark: #d4d7de;
    --zk-border-color-darker: #cdd0d6;
    --zk-fill-color: #f0f2f5;
    --zk-fill-color-light: #f5f7fa;
    --zk-fill-color-lighter: #fafafa;
    --zk-fill-color-extra-light: #fafcff;
    --zk-fill-color-dark: #ebedf0;
    --zk-fill-color-darker: #e6e8eb;
    --zk-fill-color-blank: #ffffff;
  
    /* border */
    --zk-border-width: 1px;
    --zk-border-style: solid;
    --zk-border-color-hover: var(--zk-text-color-disabled);
    --zk-border: var(--zk-border-width) var(--zk-border-style) var(--zk-border-color);
    --zk-border-radius-base: 4px;
    --zk-border-radius-small: 2px;
    --zk-border-radius-round: 20px;
    --zk-border-radius-circle: 100%;
  
    /*font*/
    --zk-font-size-extra-large: 20px;
    --zk-font-size-large: 18px;
    --zk-font-size-medium: 16px;
    --zk-font-size-base: 14px;
    --zk-font-size-small: 13px;
    --zk-font-size-extra-small: 12px;
    --zk-font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "\5fae\8f6f\96c5\9ed1", Arial, sans-serif;
    --zk-font-weight-primary: 500;
  
    /*disabled*/
    --zk-disabled-bg-color: var(--zk-fill-color-light);
    --zk-disabled-text-color: var(--zk-text-color-placeholder);
    --zk-disabled-border-color: var(--zk-border-color-light);
    /*animation*/
    --vk-transition-duration: .3s;
    --vk-transition-duration-fast: .2s;
}